html {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color:inherit; 
    text-decoration:none; 
    cursor:pointer;  
}

.pageContent {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

.interactions {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interactions h1 {
    font-size: 3rem;
}

.canvasContainer {
    justify-content: left;
}

.instructionalText {
    font-size: 1.5rem;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.btnContainer button {
    width: 100%;
    padding: 0.5rem;
    margin: 2rem;
}

.btn {
    width: 100%;
    font-size: 2rem;
}

.instructions {
    position: absolute;
    top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}